body{
    background-image: url(https://files.bo3.gg/uploads/image/61266/image/webp-3383a47c51517d32949138f015407132.webp);
    padding: auto;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center; 
    flex-direction: column; 
    display: flex;
}

#headboard{
    text-align: center;
    font-size: 26px;
}

.button1{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 1.5em;
    border-radius: 8px;
    width: 80px;
    height: 33px;
    background-color: rgb(146, 6, 6);
    color: aliceblue;
    cursor: pointer;
}

#skipButton {
    margin-left: 10px; /* separar del botón Send */
}

.text1{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.4em;   
}

.score{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 1.4em;   
}

/* Imagen del juego */
img {
    max-width: 400px;
    max-height: 250px;
    width: auto;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    object-fit: cover;
}

#headboard {
    text-align: center;
    font-size: 26px;
    margin-top: 40px; 
}


#suggestions {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    width: 200px;
    text-align: left;
}

#suggestions li {
    padding: 3px 5px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: rgba(146, 6, 6, 0.7);
    color: white;
}
