body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

label,
p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}

input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #2aafd0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #5fc1d9;
}


input[type="radio"] {
    margin-right: 5px;
}


.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


a {
    color: #2aafd0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}